<h1>原生廣告</h1>

<h3> clickforce 12637</h3>
<script type="text/javascript" async src="//cdn.holmesmind.com/js/nad.js"></script>
<script type="text/javascript">
  window.Clickforce = window.Clickforce || {};
  window.Clickforce.events = window.Clickforce.events || function () {
    (Clickforce.events.set = Clickforce.events.set || []).push([].slice.call(arguments))
  };

  Clickforce.events({
    zoneId: 12637,
    callBack: function (response) {
      console.log('response', response);
      if (response != null) {
        console.log('有廣告')
      } else {
        console.log('沒有廣告')
      }
    }
  });
</script>

<h3> clickforce 12638</h3>
<script type="text/javascript" async src="//cdn.holmesmind.com/js/nad.js"></script>
<script type="text/javascript">
  window.Clickforce = window.Clickforce || {};
  window.Clickforce.events = window.Clickforce.events || function () {
    (Clickforce.events.set = Clickforce.events.set || []).push([].slice.call(arguments))
  };

  Clickforce.events({
    zoneId: 12638, //ZONE_ID
    callBack: function (response) {
      console.log('response', response);
      if (response != null) {
        console.log('有廣告')
      } else {
        console.log('沒有廣告')
      }
    }
  });
</script>

<h3> clickforce 12639</h3>
<script type="text/javascript" async src="//cdn.holmesmind.com/js/nad.js"></script>
<script type="text/javascript">
  window.Clickforce = window.Clickforce || {};
  window.Clickforce.events = window.Clickforce.events || function () {
    (Clickforce.events.set = Clickforce.events.set || []).push([].slice.call(arguments))
  };

  Clickforce.events({
    zoneId: 12639, //ZONE_ID
    callBack: function (response) {
      console.log('response', response);
      if (response != null) {
        console.log('有廣告')
      } else {
        console.log('沒有廣告')
      }
    }
  });
</script>

<h3> clickforce 12640</h3>
<script type="text/javascript" async src="//cdn.holmesmind.com/js/nad.js"></script>
<script type="text/javascript">
  window.Clickforce = window.Clickforce || {};
  window.Clickforce.events = window.Clickforce.events || function () {
    (Clickforce.events.set = Clickforce.events.set || []).push([].slice.call(arguments))
  };

  Clickforce.events({
    zoneId: 12640,
    callBack: function(response) {
      console.log('response', response);
      if (response != null) {
        console.log('有廣告')
      } else {
        console.log('沒有廣告')
      }
    }
  });
</script>

<h3> clickforce 12641</h3>
<script type="text/javascript" async src="//cdn.holmesmind.com/js/nad.js"></script>
<script type="text/javascript">
  window.Clickforce = window.Clickforce || {};
  window.Clickforce.events = window.Clickforce.events || function () {
    (Clickforce.events.set = Clickforce.events.set || []).push([].slice.call(arguments))
  };

  Clickforce.events({
    zoneId: 12641,
    callBack: function(response) {
      console.log('response', response);
      if (response != null) {
        console.log('有廣告')
      } else {
        console.log('沒有廣告')
      }
    }
  });
</script>

<h3> clickforce 12642</h3>
<script type="text/javascript" async src="//cdn.holmesmind.com/js/nad.js"></script>
<script type="text/javascript">
  window.Clickforce = window.Clickforce || {};
  window.Clickforce.events = window.Clickforce.events || function () {
    (Clickforce.events.set = Clickforce.events.set || []).push([].slice.call(arguments))
  };

  Clickforce.events({
    zoneId: 12642,
    callBack: function(response) {
      console.log('response', response);
      if (response != null) {
        console.log('有廣告')
      } else {
        console.log('沒有廣告')
      }
    }
  });
</script>

<br>

<h1>非原生廣告</h1>
<h3>12634</h3>
<ins class="clickforceads" style="display:inline-block;" data-ad-zone="12634"></ins>
<script async type="text/javascript" src="//cdn.holmesmind.com/js/init.js"></script>

<h3>12635</h3>
<ins class="clickforceads" style="display:inline-block;" data-ad-zone="12635"></ins>
<script async type="text/javascript" src="//cdn.holmesmind.com/js/init.js"></script>

<h3>12636</h3>
<ins class="clickforceads" style="display:inline-block;" data-ad-zone="12636"></ins>
<script async type="text/javascript" src="//cdn.holmesmind.com/js/init.js"></script>

<h3>12643</h3>
<ins class="clickforceads" style="display:inline-block;" data-ad-zone="12643"></ins>
<script async type="text/javascript" src="//cdn.holmesmind.com/js/init.js"></script>

<h3>12644</h3>
<ins class="clickforceads" style="display:inline-block;" data-ad-zone="12644"></ins>
<script async type="text/javascript" src="//cdn.holmesmind.com/js/init.js"></script>

<h3>12645</h3>
<ins class="clickforceads" style="display:inline-block;" data-ad-zone="12645"></ins>
<script async type="text/javascript" src="//cdn.holmesmind.com/js/init.js"></script>