<h1>example</h1>
<vpon
  vpon_ad_test='1'
  vpon_ad_licensy_key='8a80854b6a90b5bc016ad81ebabb6538'
  vpon_ad_format='320x50_mb'
  debug='true'
>
</vpon>
<script type="text/javascript" src="//m.vpon.com/sdk/vpadn-sdk.js"></script>

<br>

<h1>一般橫幅廣告</h1>
<vpon vpon_ad_test="1" vpon_ad_licensy_key="8a80854b6a90b5bc016ad81ebabb6538" vpon_ad_format="320x50_mb" debug="true">
</vpon>
<script type="text/javascript" src="//m.vpon.com/sdk/vpadn-sdk.js"> </script>

<br>

<h1>置頂/置底橫幅廣告</h1>
<vpon vpon_ad_test="1" vpon_ad_licensy_key="8a80854b6a90b5bc016ad81ebabb6538" vpon_ad_format="320x50_mb"
  debug="true"></vpon>
<script type="text/javascript" src="//m.vpon.com/sdk/vpadn-sdk.js"> </script>

<br>

<h1>插頁廣告</h1>
<vpon vpon_ad_test="1" vpon_ad_licensy_key="8a80854b6a90b5bc016ad81ebabb6538" vpon_ad_format="mi" debug="true"></vpon>
<script type="text/javascript" src="//m.vpon.com/sdk/vpadn-sdk.js"> </script>

<br>

<h1>原生廣告</h1>
<vpon vpon_ad_test="1" vpon_ad_licensy_key="8a80854b6a90b5bc016ad81ebabb6538" vpon_ad_format="na" vpon_na_layout="0" vpon_na_min="1200x627"
  debug="true"></vpon>
<script type="text/javascript" src="//m.vpon.com/sdk/vpadn-sdk.js"> </script>