<h1>HTML 範例網頁 vpon</h1>
<vpon
  vpon_ad_test='1'
  vpon_ad_licensy_key='8a80854b6a90b5bc016ad81ebabb6538'
  vpon_ad_format='320x50_mb'
  debug='true'
>
</vpon>
<vpon
  vpon_ad_test='1'
  vpon_ad_licensy_key='8a80854b6a90b5bc016ad81ebabb6538'
  vpon_ad_format='300x250_mb'
  debug='true'
>
</vpon>
<vpon
  vpon_ad_test='1'
  vpon_ad_licensy_key='8a80854b6a90b5bc016ad81ebabb6538'
  vpon_ad_format='320x50_mb'
  debug='true'
>
</vpon>